@charset "UTF-8";
/* CSS Document */


/* -------------------- Fonts ------------------------ */

/* If you want to use custom Google fonts, you can search for them at https://fonts.google.com 
When you see a font you like, click on the red circle with the white plus sign in the upper right corner of the font's panel 
A small window will pop up at the bottom of your browser. Open it for details.
The window will provide the exact syntax to use in your link like the '@import' samples below, 
and also how to list them as a font-family in a declaration (see 'font' classes below the links
Note: you can't use any of the Google fonts as a font-family unless you have established the '@import' link first*/

/* These links call up Google fonts to display in your web site. You can choose a single font one at a time like this: */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* ...or you can select multiple fonts on the Google library and they will be separated by 'pipes' (the vertical lines) like this: */
@import url('https://fonts.googleapis.com/css?family=Lexend+Mega|Mrs+Sheppards|Nunito+Sans:300&display=swap" rel="stylesheet');

/* These are the Google fonts now being declared as CSS classes or HTML headers for use throughout the web site: */

      .bigfont {
        font-family: 'Lexend Mega', sans-serif;
        font-size: 84px;
		color:white;
		  
      }
	  .decofont {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 26px;
		color:#333;
      }
	   .scriptfont {
        font-family: 'Mrs Sheppards', cutorsive;
        font-size: 20px;
		color:#500;
      }
       .normalfont {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
		color:#2f2f2f;
      }

/* Remember, HTML header tags (<h1>, <h2>, etc) are valuable in helping search engines quickly adapt to your content structure*/
	    h1 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 75px;
		color: black;
		margin-top:0px;
		margin-bottom:16px;
      }

	    h2 {
        font-family: 'Lexend Mega', sans-serif;
        font-size: 34px;
		color: black;
		margin-top:0px;
		margin-bottom:0px;
      }


/* -------------------- Layout CSS for the HTML div tags that make up the main panels ------------------------ */

/* Each of the classes created below has been given a descriptive name so 
you can identify its location within in the HTML layout of your template*/

body{
	background-color: #212121;
	margin-left: 400px;
}

/* This is the large box that contains all other divs in the layout and fills the web page area*/
.mainbox{max-width:1400px;margin:0 auto 220px auto;}

/* This is the top navigation section that extends horizonally across the top. */
.topnavbox{width:71%;height:130px;background-color: darkgrey;}

/* This is the box that contains both the navigation panel and the starfield panel on one 'row'. It's background color is gray and will expand down the page*/
.row1{width:100%;float:left;background-color: darkgrey;}

/* This is the left side navigation panel. It has no background color or image so it is transparent*/
.leftnavigationbox{width:21%;min-height:500px;padding:2%;float:left;}

/* This is the class for all of the navigation buttons*/
.navigationbuttons{
	padding:8px;
	margin:12px;
	float:left;
	background-color: darkgrey;
	text-align:center;
	color:#fff;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
    font-size: 22px;
	border-radius: 5px;
	text-decoration:none;
}

/* This is the color the nav buttons will change to when you roll over them*/
a:hover { 
	background-color: #72758C;
	color: white;
}
/* This is the large central panel with the starscape background*/
.promobox{width:67%;min-height:800px;padding:2%;float:left;background-image:url(images/two-at-bar---header-idea-dkr.png)}

/* This is the big text in the promo box*/
.promotextbox{width:80%;float:left;margin-left:20px;margin-top:238px;font-family: 'Nunito Sans', sans-serif;font-size: 100px;color: rgba(80,190,154,1.00);}

/* This is the large central panel with the starscape background*/
.normalpagebox{width:67%;min-height:500px;padding:2%;padding-bottom:4%;float:left;background-color:#ddd;}

.normalpagebox h2 {
	margin-bottom: 50px; 
	margin-top: 70px;
}

.normalpagebox .title2 {
	margin-top: 100px;
}

/* This is the brown box for the content at the bottom of the window*/
.bottomboxcontent{width:71%;float:left;height:80px;padding-top:20px;text-align: center; font-family: 'Nunito Sans', sans-serif;font-size: 22px;color:white;background-color: rgba(80,190,154,1.00);}

.bottomboxcontent.greenbox {
	max-height: 60px;
	padding-top: 30px;
}

/* This is a final empty space at the bottom to add space between the bottom box from the bottom of the browser window*/
.bottomspacer{width:100%;float:left;height:100px;}
